* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.the-firstinwebsit {
    font-size: 10px;
    margin-top: 10px;
    position: relative;
    z-index: +9999999;
}

.the-firstinwebsit::after {
    content: '';
    height: 1px;
    width: 150%;
    position: absolute;
    left: -130px;
    background-color: white;
}

.the-firstinwebsit .row .part-1,
.the-firstinwebsit .row .part-2 {
    display: flex;
    gap: 20px;
}

.the-firstinwebsit .row .part-1 div,
.the-firstinwebsit .row .part-2 div {
    flex-wrap: wrap;
    gap: 0px 10px;
}

.icon-the-firstinwebsit {
    width: 15px;
    height: 15px;
    color: white;
}

.navbar {
    background: none !important;
    z-index: 999999999;
}

.navbar1 {
    background: none !important;
}

.navbar-nav {
    margin-left: 20%;
}

.navbar .btn {
    margin-right: 35px !important;
    border-radius: 25px;
    background-color: #00aeff;
    color: white;
}

/* end nav */
/* start hero */

header {
    width: 100%;
    height: 100vh;
    background: url(../img/r1.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.hero,
#Education-for-Tomorrows-Leaders .content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #2f73cce0;
}

.hero .content,
#Education-for-Tomorrows-Leaders .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Education-for-Tomorrows-Leaders .content P {
    width: 600px;
    text-align: center;
}

.hero .content .btn,
#Education-for-Tomorrows-Leaders .content .btn {
    border-radius: 25px;
    background-color: #00aeff;
    color: white;
    text-decoration: none;
}

/* start main */
#Browse-Top-Category,
#Start-We-Have-Best-Education,
#Education-for-Tomorrows-Leaders,
#About-Us {
    margin: 100px 0px !important;
}

#Browse-Top-Category h1,
#Become-an-Instructor .container .row .part1 h2,
#About-Us .container .row .part1 h2,
#Start-We-Have-Best-Education .part1 h2,
#Start-We-Have-Best-Education .container .row .card .card-body h5,
.icon-Start-We-Have-Best-Education,
.icon1-The-Right-Courses-For-You,
.icon1-part1 p,
#The-Right-Courses-For-You .part h2,
#School-News .part1 h2,
#Pricing .part1 h2,
#Pricing .row .card .card-body h5,
#Pricing .row .card .card-body p span,
#Testimonials .card-body h2,
#Testimonials .card-body span,
#Why-Choose-Us .container .row .part2 h2 {
    color: #136ad5;
}

#Browse-Top-Category .row .card {
    width: 17.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f3f7fd;
    border: none;
    margin: 5px 0px;
}

#Browse-Top-Category .row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
}

#Browse-Top-Category .row .card {
    width: 16rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    background-color: #f3f7fd;
    border: none;
}

#Become-an-Instructor,
#About-Us,
#The-Right-Courses-For-You,
#School-News
#Testimonials {
    background-color: #f8f9fa;
    position: relative;
}

#Become-an-Instructor .container .row .part1 .icon-p,
#About-Us .container .row .part1 .icon-p {
    display: flex;
    align-items: start;
    gap: 0px 10px;
}

#Become-an-Instructor .container .row .part1 .btn,
#About Us .container .row .part1 button {
    border-radius: 25px;
    background: #136ad5;
    color: white;

}


#Become-an-Instructor .container .row .part1,
#About-Us .container .row .part1 {
    width: 340px;
}

#Become-an-Instructor .container .row .part2 img {
    width: 500px;
    position: relative;
    top: -50px;
}

#Become-an-Instructor .container .row,
#About-Us .container .row {
    justify-content: space-between;
    align-items: center;
}

#Start-We-Have-Best-Education .row,
#The-Right-Courses-For-You .row,
#Pricing .row,
#School-News .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
}

#School-News img {
    width: 200px;
}

#Start-We-Have-Best-Education .row .card {
    width: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
}

#Start-We-Have-Best-Education .part1,
#The-Right-Courses-For-You .part,
#School-News .part1,
#Pricing .part1,
#Testimonials .card-body {
    width: 600px;
}

#The-Right-Courses-For-You,
#Start-We-Have-Best-Education,
#School-News,
#Pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-Browse-Top-Category {
    width: 25px;
    height: 25px;
    background: white;
    color: #00aeff;
    border-radius: 20px;
    padding: 10px;
}

#The-Right-Courses-For-You .row .card {
    width: 20rem;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: 15px 0px;
    box-shadow: rgba(128, 128, 128, 0.75) 2px 0px 8px 0px;
}

#The-Right-Courses-For-You .row .card .part1,
#The-Right-Courses-For-You .row .card .part2,
#The-Right-Courses-For-You .row .card .part3 {
    padding: 0px 20px;
    padding-top: 10px;
}

#The-Right-Courses-For-You .row .card .part3 {
    gap: 0px 100px;
    justify-content: center;
    align-items: baseline;
}

#The-Right-Courses-For-You .row .card .part3 .btn {
    text-decoration: none;
}

#The-Right-Courses-For-You .row .card .part1::after {
    content: '';
    height: 2px;
    width: 17rem;
    position: absolute;
    bottom: 48px;
    background-color: #dee2e6;
}

#Education-for-Tomorrows-Leaders {
    width: 100%;
    height: 100vh;
    background: url(../img/d2.jpeg);
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#About-Us {
    background: none;
}


#About-Us .container .row .part2 video {
    width: 500px;
    box-shadow: #d0e1f7 190px -60px 0px 2px;
}

#About-Us .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#School-News .container .row .card {
    border: none;
    box-shadow: rgba(128, 128, 128, 0.75) 2px 0px 8px 0px;
}

#Pricing .row .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Pricing .row .card .card-body p span {
    font-size: 2rem;
}

.icon-Become-an-Instructor {
    width: 25px;
    height: 25px;
    color: #00aeff;
}

.icon-Start-We-Have-Best-Education {
    width: 25px;
    height: 25px;
    border: 2px solid #dde9f9;
    border-radius: 50%;
    padding: 10px;
    margin-top: 20px;
}


.icon1-part1 {
    align-items: baseline;
    gap: 0px 5px;
    padding-right: 135px;
}

.icon2-The-Right-Courses-For-You {
    color: #ffc107
}

.icon2-part1 p {
    color: #ffc107
}

#The-Right-Courses-For-You .row .card img {
    width: 20rem;
    height: 200px;
}



.card-number .box1 span {
    font-weight: bold;
    color: #00aeff;
    font-size: 20px;
}

.btn-1 {
    border-radius: 25px;
    background: none;
    background-color: #136ad5;
    color: white;
    margin-right: 5px;
}

.btn-outline-primary {
    border-radius: 25px;
}



.icon-p {
    display: flex;
    align-items: baseline;

}



#Tesimonials img{
    width: 75px;
    border-radius: 50%;
}

.bgGray{
    background-color: #f8f9fa;
}
.textBlue{
    color: #136ad5;
}
.bgBlue{
    background-color: #136ad5;
}
#corousal-indecator{
    width: 10px;
    height: 10px ;
    border-radius: 50%  ;
    background-color: #666666;
}
#corousal-indecator.active{
    background-color: #136ad5;
}
.accordion-header button::after {
    content: '' !important;
    width: 0px;
}

.accordion-header p {
    font-size: 16px;
}

.accordion-header button {
    width: 20px;
    height: 14px;
    cursor: pointer;
    position: relative;
    box-shadow: 0;

}

.accordion-header {
    align-items: center;
}

.accordion-header button span {
    background-color: black;
    height: 3px;
    border-radius: 10px;
    position: absolute;
    width: 50%;
    left: 0px;
    transition: all 0.3s ease;
    margin:0px 8px;
}

.accordion-header button span:first-child {
    top: 14px;
    left: 2px;
}

.accordion-header button span:last-child {
    width: 50%;
    top: 14px;
    left: 2px;
    border-radius: 10px;
    transform: rotate(90deg);
}

.accordion-header button:hover span:first-child,
.accordion-header button:hover span:last-child {
    top: 14px;
    background-color: white !important;
    transform: rotate(0deg);
}

.accordion-item {
    border: none;
}

.accordion-header:hover,
.accordion-header button:hover {
    background-color: #136ad5;
    color: white !important;
}

#Why-Choose-Us .container .row .part1 img {
    width: 400px;
}

.accordion-body img {
    width: 200px;
    margin-bottom: 10px;
}

.accordion-body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

footer {
    background-color: #136ad5;
    width: 100%;
    color: white;
}

footer .container .row {
    justify-content: space-between;
}

footer .box-3 .the-image {
    display: flex;
    flex-wrap: wrap;
}

footer .box-3 .the-image img {
    width: 77px;
    margin: 3px;
}

footer,
.container .row .box-2 ul,
footer,
.container .row .box-4 ul {
    list-style: none;
}

footer,
.container .row .box-2 ul li,
footer,
.container .row .box-4 ul li {
    color: #89b0e5;
}

footer,
.container .row .box-2 ul li:hover,
footer,
.container .row .box-4 ul li:hover {
    color: white;
}

.icon-footer {
    padding: 7px;
    background-color: white;
    border-radius: 50%;
    color: black;
    margin: 0px 2px;
}

@media screen and (max-width:800px) {

    .navbar-brand {
        display: none;
    }
    #Tesimonials img{
        width: 75px !important;
    }

    #The-Right-Courses-For-You .row .card img {
        width: 16rem;
    }

    .bg-light {
        width: 300px;
        margin-bottom: 10px;
        padding: 10px !important;
        padding-left: 0px !important;
    }

    #Become-an-Instructor .container .row .part2 img,
    #About-Us .container .row .part2 video {
        width: 250px;
        margin-top: 40px;
    }

    #Start-We-Have-Best-Education .part1,
    #Education-for-Tomorrows-Leaders .content p,
    #The-Right-Courses-For-You .part,
    #School-News .part1,
    #Pricing .part1,
    #Testimonials .card-body,
    #Why-Choose-Us .container .row .part1 img {
        width: 250px !important;
    }

    #School-News .row .card {
        width: 16rem !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    #The-Right-Courses-For-You .row .card,
    #Pricing .row .card {
        width: 16rem;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    #Pricing .row .card,
    #Start-We-Have-Best-Education .row .card,
    #Browse-Top-Category .row .card {
        width: 17rem !important;
    }

    .icon1-part1 {
        padding-right: 74px;
    }

    #The-Right-Courses-For-You .row .card .part3 {
        gap: 0px 48px;
    }

    #The-Right-Courses-For-You .row .card .part1::after {
        width: 13rem;
    }

}